@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');

.container-header {
   color: #fff;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.img {
   width: 100%;
   max-width: 800px;
   height: auto;
   display: block;
}

header p {
   font-family: "Finger Paint", sans-serif;   
}

header h1 {
   font-family: "Finger Paint", sans-serif;
}

main h2 {
   font-family: "Finger Paint", sans-serif;
}