body {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}

main {
   flex-grow: 1;
   display: flex;
   flex-wrap: wrap;
   align-items: flex-start;
}

.main-title {
   text-align: center;
   width: 100%;
   margin: 10px;
}

.section-left {
   display: flex;
   flex-direction: column;
   flex: 1;
   align-items: flex-end;
}

.section-rigth {
   margin-top: 50px;
   display: flex;
   flex-direction: column;
   flex: 1;
}

.container-section-left {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   border-right: 10px solid #f00;
   gap: 5px;
   margin-bottom: 25px;
   max-width: 600px;
}

.ano h3 {
   display: flex;
   align-items: center;
   height: 80px;
   color: #000;
   background-color: #fff;
}

.container-section-rigth {
   display: flex;
   align-items: center;
   border-left: 10px solid #00f;
   gap: 5px;
   max-width: 600px;
   margin-bottom: 25px;
}

.div-desc {
   font-size: 50px;
}